name: Build, Release & Modrinth

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      jar-file: ${{ steps.find_jar.outputs.JAR_FILE }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17 (Amazon Corretto)
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean install -B -U

      - name: Find JAR file
        id: find_jar
        run: |
          JAR_FILE=$(find target -maxdepth 1 -name "*.jar" ! -name "original*.jar" | head -n 1)
          echo "JAR_FILE=$JAR_FILE" >> $GITHUB_ENV
          echo "::set-output name=JAR_FILE::$JAR_FILE"

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-plugin-jar
          path: ${{ env.JAR_FILE }}

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: my-plugin-jar
          path: ./target

      - name: Find downloaded JAR
        id: find_jar2
        run: |
          JAR_FILE=$(find ./target -maxdepth 1 -name "*.jar" ! -name "original*.jar" | head -n 1)
          echo "JAR_FILE=$JAR_FILE" >> $GITHUB_ENV

      - name: Determine version name from commit
        id: git-version
        run: |
          VERSION=$(git rev-parse --short HEAD)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: dev-build-${{ env.VERSION }}
          release_name: Release ${{ env.VERSION }}
          draft: false
          prerelease: true

      - name: Upload JAR to GitHub Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ env.JAR_FILE }}
          asset_name: cleanscreenshare-${{ env.VERSION }}.jar
          asset_content_type: application/java-archive

      - name: Publish to Modrinth
        uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRINTH_TOKEN }}
          project: KSHzrYFK
          version: ${{ env.VERSION }}
          version-type: alpha
          loaders: "spigot,bungeecord,velocity,waterfall,folia,paper,purpur"
          files: target/cleanscreenshare-${{ env.VERSION }}.jar
